<div class="row">
  <div class="col-9">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Company Name</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">Total</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @owned_stocks.each do |stock| %>
          <tr>
            <th scope="row"><%= stock.symbol %></th>
            <td><%= stock.name %></td>
            <td><%= stock_shares = stock.user_stocks.where(user: current_user).first.shares %></td>
            <td><%= stock.latest_price %></td>
            <td><%= stock_shares * stock.latest_price  %></td>
            <td>
              <%= form_tag edit_user_stock_path, remote: true, method: :get do %>
                <%= hidden_field_tag :id, stock.id %>
                <%= button_tag type: :submit, class: "btn btn-success btn-sm" do %>
                  <%= 'Buy' %>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= form_tag edit_user_stock_path, remote: true, method: :get do %>
                <%= hidden_field_tag :transaction_type, "sell" %>
                <%= hidden_field_tag :id, stock.id %>
                <%= button_tag type: :submit, class: "btn btn-danger btn-sm" do %>
                  <%= 'Sell' %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>