<body>
        <%= form_with model: user do |f| %>
            <p>
                <% if user.errors.any? %>
                    <ul>
                        <% user.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                <% end %>
            </p>
    
            <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
            </div>

            <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>

                <% if @minimum_password_length %>
                    <small class="form-text text-muted"><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
                <% end %>
            </div>

            <div class="form-group">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control' %>
            </div>

            <p>
                <%= f.label :approved %><br>
                <%= f.check_box :approved %>
            </p>

            <div class="form-group">
                <%= f.submit %>
            </div>
        <% end %>
</body>